body {
  font-family: Verdana, Geneva, sans-serif;
  background: #323232; color: white;
}

.box-fix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.centered {display: flex; height: 100%; align-items: center; justify-content: center;}

.shadow {box-shadow: 0 16px 24px 2px rgba(0,0,0,0.15), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);}

.hidden {display: none;}

.panel {
  margin: 0;
  position: fixed;
  top: 5rem; bottom: 0;
  left: 0; right: 0;
  transition: transform 0.3s linear;
  overflow-y: scroll; overflow-x: hidden;
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}
.panel::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.panel.collapsed-left {transform: translate(-100vw,0);}

.panel.collapsed-right {transform: translate(100vw,0);}

#panel-toggle {
  position: fixed;
  top: 0; bottom: calc(100% - 5rem);
  left: 0; right: 0;
  width: 100%;
  background: transparent;
  border: 0; padding: 0; margin: 0;
}

.panel-title {
  position: fixed;
  top: 0; bottom: calc(100% - 5rem);
  font-size: 3rem;
  cursor: pointer;
  overflow-x: hidden;
}

.panel-title:hover {
  transition: background 0.1s linear;
  background: rgba(255,255,255,0.5);
}

.title-focused {
  background: rgba(255,255,255,0.2);
}

#left-panel-title {
  left: 0; right: 50%;
}

#right-panel-title {
  left: 50%; right: 0
}

#title-slide-bar {
  position: fixed;
  background: firebrick;
  left: 0; right: 50%;
  bottom: calc(100% - 5rem);
  height: 0.25rem;
  transition: transform 0.3s linear;
}

#title-slide-bar.slide {
  transform: translate(100%, 0);
}

.column {
  float: left;
  width: 33.33%;
  max-width: 33.33%;
  padding: 0.5rem;
}

.card {
  position: relative;
  background: grey;
  width: calc(100% - 1rem);
  height: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.title {font-size: 1.5rem; width: calc(100% - 4rem);}
.content {font-style: italic;}

.edit-form {
  position: relative;
  margin-top: 0.5rem;
  padding-right: 0.5rem;
}
.edit-form-text {
  margin: 0.5rem 0;
  border: 0; padding: 0.25rem;
}
.edit-form-name {width: 100%;}
.edit-form-sub {width: calc(100% - 3rem);}
.submit-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0; padding: 0;
  font-size: 1.5rem;
  background: firebrick;
  border: 0;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  display: flex; overflow: hidden; align-items: center; justify-content: center;
}
.submit-button:focus {outline: 0;}

.delete-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0; padding: 0;
  font-size: 1.5rem;
  background: firebrick;
  border: 0;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  display: flex; overflow: hidden; align-items: center; justify-content: center;
}
.delete-button:focus {outline: 0;}

.edit-button {
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0; padding: 0;
  font-size: 1.5rem;
  background: firebrick;
  border: 0;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  display: flex; overflow: hidden; align-items: center; justify-content: center;
}
.edit-button:focus {outline: 0;}

.add-item-button {
  position: fixed;
  left: calc(100vw - 8rem);
  bottom: 2.5rem;
  width: 5rem; height: 5rem;
  background: firebrick;
  border: 0;
  border-radius: 5rem;
  color: white;
  font-size: 4.5rem;
  margin: 0; padding: 0;
  cursor: pointer;
}
.add-item-button:focus {outline: 0;}

.add-item-form {
  position: fixed;
  background: firebrick;
  bottom: -4rem; right: -4rem;
  top: calc(100% - 11rem); left: 66.66%;
  border-radius: 4rem;
  padding: 2rem;
  transition: transform 0.3s linear;
}
.add-item-form.slide-out {
  transform: translate(100%, 0);
}
.add-form-text {
  margin: 0.5rem 0;
  border: 0; padding: 0.25rem;
}
.add-form-title {
  position: absolute;
  right: 6.2rem;
  top: 1rem;
  font-size: 1.5rem;
}
.add-form-name {width: calc(100% - 4rem);}
.add-form-sub {width: calc(100% - 14rem);}
.add-submit-button {
position: absolute;
  bottom: 5.2rem;
  right: 10.5rem;
  height: 3rem;
  width: 3rem;
  margin: 0; padding: 0;
  font-size: 1.5rem;
  background: transparent;
  border: 0.1rem white solid;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
  display: flex; overflow: hidden; align-items: center; justify-content: center;
}
.add-submit-button:focus {outline: 0;}
.add-cancel-button {
position: absolute;
  bottom: 5.2rem;
  right: 6rem;
  height: 3rem;
  width: 3rem;
  margin: 0; padding: 0;
  font-size: 1.5rem;
  background: transparent;
  border: 0.1rem white solid;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
  display: flex; overflow: hidden; align-items: center; justify-content: center;
}
.add-cancel-button:focus {outline: 0;}

.sub-item {
  position: relative;
  background: darkgrey;
  padding: 0.5rem;
}
.delete-button.sub {
  top: 0.3rem;
}

.add-food-item-form {
  margin-top: 1rem;
}
.add-food-item-dropdown {
  padding: 0.2rem;
  color: white;
  background: transparent;
  border: 0.1rem solid white;
  width: calc(100% - 3rem);
}
.add-food-item-dropdown-option {
  background: dimgrey;
  border: 0;
}
.add-food-item-dropdown-option:focus {outline: 0;}
.add-food-item-dropdown:focus {outline: 0;}
.submit-button.sub {
  right: 1rem;
  bottom: 0.6rem;
}
